body{
    color: #000000;
background-color: #ffffff;
    font-family:'Quicksand', sans-serif; 
}
.login{
    border-radius: 5rem;
    width: 150px;
    outline: 8px;
    border-color: #5f4dee;
    background-color: #ffffff;
    color:#5f4dee;
}
.navbar-brand{
    color: #000000;
    font-weight: 800;
    font-size: 20px;
}
.navbar-brand:hover
{
    color:#ffffff;
}
.nav-link{
    color: #ffffff;
    font-size: 15px;
    font-weight:800;

}
.navbar li a
{
    color:#ffff;
    font-weight: 800;
    font-size: 16px;
}
.navbar li a:hover
{
    color:#1e2547;

}
.navbar{
    width: 100%;
    background-color: #5f4dee;
    
}
.body{
    padding-top: 170px;
    padding-left: 50px;
}

.login:hover{
    background-color: #5f4dee;
    color: rgb(255, 255, 255);
    border: solid 0.1rem #ffffff;
}
#cgpacal
{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
.cgpacal
{
    padding: 10px;
    margin-right: 90px;
    margin-left: auto;
}
.cgpa-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#cgpacal ul li
{
    margin: 2px 0;
    list-style-type: none;
}
#cgpacal ul
{
    margin-left: 3px 0;

}
.card
{
    background-color: #6958ec;
    color: #ffffff;
    font-weight: 600;
}
.submit-btn
{
    border-radius: 5rem;
    width: 100px;
    font-weight: 800;
    outline: 8px;
    border-color: #5f4dee;
    background-color: #ffffff;
    color:#5f4dee;
}
.submit-btn:hover{
    background-color: #5f4dee;
    color: rgb(255, 255, 255);
    border: solid 0.1rem #ffffff;
}