body{
    color: #000000;
    font-family: 'Akshar', sans-serif;
background-color: #ffffff;
    font-family: 'Quicksand', sans-serif; 
}
.form-control{
    border-radius: 5rem;
    outline:1px;
    border-color: #5f4dee;
    
}
.login{
    border-radius: 5rem;
    width: 150px;
    outline: 8px;
    border-color: #5f4dee;
    background-color: #ffffff;
    color:#5f4dee;
}
.register{
    /* border-radius: 5rem;
    background-color: #ffffff; */
    color: #000000;
    /* outline: 8px; */
    border-color: #5f4dee;
    text-decoration: none;


}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.register:hover{
    /* background-color: #66ccff; */
    color: #000000;
}
.navbar{
    
    position: fixed;
    width: 100%;
    background-color: #5f4dee;
    
}
.login:hover{
    background-color: #5f4dee;
    color: rgb(255, 255, 255);
    border: solid 0.1rem #ffffff;
}
.vh-100{
    padding-top: 120px;
}
.mb-5{
    font-size: 40px;
    font-weight: 400;
}
.navbar-brand{
    
    color: #000000;
    font-weight: 800;
    font-size: 20px;
}
.nav-link{
   
    color: #ffffff;
    font-size: 15px;
    font-weight:800;
}
.body{
    margin-top: 40px;
}
.branch{
    border-radius: 5rem;
    outline:1px;
    border-color: #5f4dee;
    width: 430px;
    height: 50px;
}
.custom-select{
    /* wrapper style */
    position: relative;
    display:block;
    max-width: 450px;
    min-width: 320px;
    margin:0 auto;
}
    select {
      /* Select Reset */
      border: 1px solid;
      outline:none;
      background:transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
      margin:0;
      display:block;
      width: 100%;
      cursor: pointer;
      
      /* custom select appearance */  
      padding: 12px 55px 15px 15px;
      font-size: 14px;
    }
  